@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 90px;
    padding-top: 150px;
}


#left{
    height: 100%;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left p{
    font-size: 120px;
    font-weight: 500;
    line-height: 150px;
}
#bottom-left{
    height: 40%;
    width: 100%;
    background-color: yellow;
}
#color{
    background-color: blue;
    width: fit-content;
    padding: 10px 15px;
}



#right{
    height: 100%;
    width: 48%;
    background-color: blue;
}
























